<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/main.css"
  <title>ClassDataBinding</title>
</head>
<body>
  <div id="app">
    <!-- <input type="text" v-on:keyup.esc.space.up="clear" v-model="message"> -->
    <button v-on:click="clickHandler">
      Click!
    </button>
    <button @click="clickHandler">
      Click! 2
    </button>
    <input type="text" @keyup.ctrl.67="clear" v-model="message">
    <div @click.shift="clickHandler">
      Click me!
    </div>
    <p>
      {{ message }}
    </p>
    <!-- <button v-on:click="clickHandler($event,'vue.js!')"> -->
    <button v-on:click.once="clickHandler">
      Click2
    </button>
    <p v-show="toggle">
      Hello Vue.js
    </p>
    <p v-if="color === 'red'">
      Stop
    </p>
    <p v-else-if="color === 'yellow'">
      Caution
    </p>
    <p v-else-if="color === 'blue'">
      Go
    </p>
    <p v-else>
      Not red/yellow/blue
    </p>

    <p v-if="toggle">
      YES
    </p>
    <p v-else>
      NO
    </p>
    <p>
      Hello <span v-bind:style="styleObject">Vue.js</span>
    </p>
    <p>
      Hello.<span v-bind:style="{ color: color, fontSize: fontSize + 'px'}">Vue.js!</span>
    </p>
    <p>
      Hello <span v-bind:class="[isLarge ? largeClass : '' , dangerClass]">Vue.js!</span>
    </p>
    Helle <span v-bind:class="classObject">Vue.js!</span></br>
    Hello <span v-bind:class="[dangerClass, largeClass]">Vue.js!</span>
    <p>
      Hello <span class="bg-gray text-blue" v-bind:class="{large: isLarge, 'text-danger': hasError}">Vue.js!</span>
    </p>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
  <script src="js/main.js"></script>
  <script src="css/main.css"></script>
</body>
</html>